Первым делом скачаем обе таблицы

In [136]:
import sys
from natasha import DatesExtractor
import re
from numpy import prod

In [8]:
!"{sys.executable}" -m pip install google-cloud-bigquery

Requirement already satisfied: google-cloud-bigquery in c:\users\vadim\anaconda3\lib\site-packages (1.12.1)
Requirement already satisfied: google-resumable-media>=0.3.1 in c:\users\vadim\anaconda3\lib\site-packages (from google-cloud-bigquery) (0.3.2)
Requirement already satisfied: protobuf>=3.6.0 in c:\users\vadim\anaconda3\lib\site-packages (from google-cloud-bigquery) (3.7.1)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.6.0 in c:\users\vadim\anaconda3\lib\site-packages (from google-cloud-bigquery) (1.11.0)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in c:\users\vadim\anaconda3\lib\site-packages (from google-cloud-bigquery) (1.0.0)
Requirement already satisfied: six in c:\users\vadim\anaconda3\lib\site-packages (from google-resumable-media>=0.3.1->google-cloud-bigquery) (1.12.0)
Requirement already satisfied: setuptools in c:\users\vadim\anaconda3\lib\site-packages (from protobuf>=3.6.0->google-cloud-bigquery) (40.6.3)
Requirement already satisfied: google-auth<2.0dev,>=0.4.0 in c:\users\vadim\anaconda3\lib\site-packages (from google-api-core<2.0.0dev,>=1.6.0->google-cloud-bigquery) (1.6.3)
Requirement already satisfied: googleapis-common-protos!=1.5.4,<2.0dev,>=1.5.3 in c:\users\vadim\anaconda3\lib\site-packages (from google-api-core<2.0.0dev,>=1.6.0->google-cloud-bigquery) (1.6.0)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in c:\users\vadim\anaconda3\lib\site-packages (from google-api-core<2.0.0dev,>=1.6.0->google-cloud-bigquery) (2.21.0)
Requirement already satisfied: pytz in c:\users\vadim\anaconda3\lib\site-packages (from google-api-core<2.0.0dev,>=1.6.0->google-cloud-bigquery) (2018.7)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\vadim\anaconda3\lib\site-packages (from google-auth<2.0dev,>=0.4.0->google-api-core<2.0.0dev,>=1.6.0->google-cloud-bigquery) (0.2.5)
Requirement already satisfied: rsa>=3.1.4 in c:\users\vadim\anaconda3\lib\site-packages (from google-auth<2.0dev,>=0.4.0->google-api-core<2.0.0dev,>=1.6.0->google-cloud-bigquery) (4.0)
Requirement already satisfied: cachetools>=2.0.0 in c:\users\vadim\anaconda3\lib\site-packages (from google-auth<2.0dev,>=0.4.0->google-api-core<2.0.0dev,>=1.6.0->google-cloud-bigquery) (3.1.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\vadim\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2.0.0dev,>=1.6.0->google-cloud-bigquery) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\vadim\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2.0.0dev,>=1.6.0->google-cloud-bigquery) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\vadim\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2.0.0dev,>=1.6.0->google-cloud-bigquery) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vadim\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2.0.0dev,>=1.6.0->google-cloud-bigquery) (2018.11.29)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.1 in c:\users\vadim\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<2.0dev,>=0.4.0->google-api-core<2.0.0dev,>=1.6.0->google-cloud-bigquery) (0.4.5)

In [9]:
from google.cloud import bigquery

В клиент вставьте свой аккаунт Google Cloud Platform.

In [10]:
client = bigquery.Client.from_service_account_json("D:\Data-Science-lecture-a42c6d519bb9.json")

Первым делом мы сформируем запрос на русском языке. В этом запросе укажите время создания интересующего вас обекта(пожалуйста не пишите век, natasha их не распознаёт). Вернётся весь массив с точной датой (он выбирает основываясь на границах времени, но выдаёт более точный отрезок) и некоторую другую информацию. Я использовал 1956 год. В нём не так много данных

In [45]:
input_information = input()
extractor = DatesExtractor()
Date_request = extractor(input_information)
Date_to_found = Date_request[0].fact.as_json["year"]

19 октября 1956 года

In [66]:
df_of_objects  = client.query("""
SELECT object_name, title, culture, object_date, country, link_resource FROM  `bigquery-public-data.the_met.objects` 
WHERE object_begin_date <= {DATE} AND object_end_date >= {DATE} AND object_date IS NOT NULL
""".format(DATE=Date_to_found, )).to_dataframe() # из лекции можно вспомнить, что такой метод не очень надёжный, но так как Date_to_found точно будет числом, использовать его вполне безопасно.
df_of_objects = df_of_objects.style.set_properties( **{'width': '200px'})

In [67]:
df_of_objects

,object_name,title,culture,object_date,country,link_resource
0,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
1,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
2,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
3,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
4,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
5,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
6,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
7,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
8,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
9,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
10,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
11,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
12,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
13,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
14,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
15,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
16,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
17,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
18,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
19,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
20,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
21,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
22,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
23,Fan,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
24,Seals,杜陵坑章料一對|Pair of Square Seals with Cloud and Ro...,China,20th century,None,http://www.metmuseum.org/art/collection/search...
25,Seal,壯暮翁 獅鈕新山玉|Zhuangmu Weng,China,20th century,None,http://www.metmuseum.org/art/collection/search...
26,Seal,壯暮 白瓷印|Zhuangmu,China,20th century,None,http://www.metmuseum.org/art/collection/search...
27,Pair of seals,謝稚稚柳 漆印|a: Xie Zhi; b: Zhiliu,China,20th century,None,http://www.metmuseum.org/art/collection/search...
28,Pair of seals,稚柳壯暮 瓦鈕巴林石|a: Zhiliu; b: Zhuangmu,China,20th century,None,http://www.metmuseum.org/art/collection/search...
29,Figure,None,China,20th century,None,http://www.metmuseum.org/art/collection/search...
...,...,...,...,...,...,...
557,Woven tapestry,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
558,Piece,None,Japan,20th century,None,http://www.metmuseum.org/art/collection/search...
559,Length,None,China,20th century,None,http://www.metmuseum.org/art/collection/search...
560,Length,None,China,20th century,None,http://www.metmuseum.org/art/collection/search...
561,Pieces,None,Japan,19th–20th century,None,http://www.metmuseum.org/art/collection/search...
562,Blouse,Woman's overblouse,Indian,19th–20th century,None,http://www.metmuseum.org/art/collection/search...
563,Panel,Panel,Javanese,early 20th century,Indonesia,http://www.metmuseum.org/art/collection/search...
564,Storage jar,Storage jar,"Italian, possibly Venice",ca. 1500–1525,None,http://www.metmuseum.org/art/collection/search...
565,Bowl,Wide-rimmed bowl with Vulcan Forging Arms with...,"Italian, probably Urbino",ca. 1528–30,None,http://www.metmuseum.org/art/collection/search...
566,Plate,Plate,"Italian, Florence",20th century,None,http://www.metmuseum.org/art/collection/search...
567,Storage jar,Storage jar (one of a pair),"Italian, Venice",ca. 1550–70,None,http://www.metmuseum.org/art/collection/search...
568,Salt bowl with cover,Oval-shaped salt bowl with cover,Italian,19th–20th century,None,http://www.metmuseum.org/art/collection/search...
569,Piece,None,China,20th century,None,http://www.metmuseum.org/art/collection/search...
570,Figure,Minerva,German,19th–20th century,None,http://www.metmuseum.org/art/collection/search...
571,Stand and cover,Portfolio stand and cover,"American, United States (New York ?)",20th century (wood core); 17th and 19th centur...,None,http://www.metmuseum.org/art/collection/search...
572,Length,None,China,19th–20th century,None,http://www.metmuseum.org/art/collection/search...
573,Medal,Portrait of the Duke de Loubat,French,20th century,None,http://www.metmuseum.org/art/collection/search...
574,Medal,"The Election of the Duke de Loubat, Member of ...",French,20th century,None,http://www.metmuseum.org/art/collection/search...
575,Medal,"Charles William Eliot (1834–1926), President o...",French,20th century,None,http://www.metmuseum.org/art/collection/search...
576,Medal,Commemorating the 300th anniversary of the Fou...,French,20th century,None,http://www.metmuseum.org/art/collection/search...
577,Medal,"Commemorating the rulers of the Baroda State, ...",British,20th century,None,http://www.metmuseum.org/art/collection/search...
578,Medal,"Commemorating rulers of the Baroda State, Anan...",British,20th century,None,http://www.metmuseum.org/art/collection/search...
579,Medal,"Commemorating the rulers of the Baroda State, ...",British,20th century,None,http://www.metmuseum.org/art/collection/search...
580,Medal,"Commemorating the rulers of the Baroda State, ...",British,20th century,None,http://www.metmuseum.org/art/collection/search...
581,Medal,"Commemorating the rulers of the Baroda State, ...",British,20th century,None,http://www.metmuseum.org/art/collection/search...
582,Medal,"Commemorating the rulers of the Baroda State, ...",British,20th century,None,http://www.metmuseum.org/art/collection/search...
583,Medal,"Commemorating the rulers of the Baroda State, ...",British,20th century,None,http://www.metmuseum.org/art/collection/search...
584,Medal,"Commemorating the rulers of the Baroda State, ...",British,20th century,None,http://www.metmuseum.org/art/collection/search...
585,Drawing Ornament and Architecture,Design for a Trolley Station,None,19th–20th century,None,http://www.metmuseum.org/art/collection/search...
586,Drawing ; Ornament and architecture,"Ancient Maltese Costume, A Lady in a Faldetta",None,19th century,None,http://www.metmuseum.org/art/collection/search...

Теперь давайте найдём дополнително все фотографии этих объектов хранящиеся в базе данных.
Некоторые ссылки выдают оштбку 404. Это из-за того, что база данных немного устарела.

In [80]:
df_of_images  = client.query("""
SELECT object_name, BQTMobj.title, culture, object_date, country, link_resource, original_image_url FROM  `bigquery-public-data.the_met.objects` as BQTMobj
LEFT JOIN `bigquery-public-data.the_met.images` as BQTMimg ON BQTMobj.object_id = BQTMimg.object_id
WHERE object_begin_date <= {DATE} AND object_end_date >= {DATE} AND object_date IS NOT NULL
ORDER BY BQTMobj.object_id
""".format(DATE=Date_to_found, )).to_dataframe()
df_of_images = df_of_images.style.set_properties( **{'width': '200px'})

Теперь мне хотелось бы найти самое позднее, самое ранные и среднее время надодок для каждой из культур.

In [ ]:
client.query("""
SELECT culture, MIN(object_begin_date) AS Earliest, AVG((object_begin_date+object_end_date)/2) AS Average, MAX(object_end_date) AS Latest FROM `bigquery-public-data.the_met.objects`
GROUP BY culture
""").to_dataframe()

Найдём культуры экспонаты для которой принадлежат только нашей эре и отдельно только до н.э.

In [83]:
client.query("""
SELECT culture, MIN(object_begin_date) AS Earliest, AVG((object_begin_date+object_end_date)/2) AS Average, MAX(object_end_date) AS Latest FROM `bigquery-public-data.the_met.objects`
GROUP BY culture
HAVING MIN(object_begin_date)>0
""").to_dataframe()

,culture,f0_,f1_,f2_
0,"New York: [s.n.], [18--]",1800,1805.000000,1810
1,Tibet,1,1508.626190,1999
2,"Afghanistan, possibly of West Indian manufacture",1,150.000000,299
3,Tibet (or Nepal),1450,1550.000000,1650
4,Nepal,1004,1632.740741,1899
5,"India (Jammu and Kashmir, ancient kingdom of K...",600,699.500000,799
6,Sri Lanka,400,1169.750000,1799
7,"India (Jammu and Kashmir, ancient kingdom of K...",9,690.722222,1050
8,India (Orissa?),1650,1750.000000,1850
9,India (Orissa),1100,1570.708333,1840
10,India (Andhra Pradesh or West Bengal),150,300.000000,450
11,"India (Karnataka, Mysore or Tamil Nadu)",1767,1783.000000,1799
12,"India, Indo-Portuguese (Goa or Diu)",1700,1749.500000,1799
13,South India,1601,1716.500000,1799
14,Pakistan (ancient region of Gandhara) or Afgha...,1,358.000000,599
15,Japan (Kyoto),1988,1988.000000,1988
16,Japan (Ainu),1800,1849.500000,1899
17,Indian (Gujerat),1800,1849.500000,1899
18,Japan (Ryūkyū Islands),1600,1800.714286,1999
19,"Japan (Okinawa, Ryūkyū Islands)",1800,1849.500000,1899
20,Northern India,1667,1683.000000,1699
21,India (Agra area),1660,1679.500000,1699
22,Nepal (Kathmandu Valley),700,1285.203883,1899
23,"India (Coromandel Coast), for Indonesian market",1710,1720.000000,1730
24,"China, Turkestan",1700,1812.125000,1899
25,East Turkestan,1800,1849.500000,1899
26,Japan or Central Asia,1800,1849.500000,1899
27,"India (Gujarat), for the Indonesian market",1371,1403.000000,1435
28,India (Gujarat),850,1450.319512,1810
29,India (Coromandel Coast),1767,1783.000000,1799
...,...,...,...,...
3670,"Hungarian, Kalotaszeg",1800,1807.500000,1815
3671,"Greek, Astypalaia",1500,1599.500000,1699
3672,"Hungarian, Moravia",1800,1807.500000,1815
3673,"Austrian, Moravia",1700,1749.500000,1799
3674,"Georgian, Abkhasia",1485,1492.000000,1499
3675,"Indian, probably Gujarat",1740,1760.000000,1780
3676,French or Indian,1700,1749.500000,1799
3677,"Chinese, for the export market",1600,1649.500000,1699
3678,"Dutch, Zeeland (Middleburg)",1780,1790.000000,1800
3679,"Dutch, Marken Island",1600,1649.500000,1699
3680,"Dutch, probably Friesland",1670,1670.000000,1670
3681,"Scottish, Linlithgow",1700,1749.500000,1799
3682,Welsh,1812,1812.000000,1812
3683,possibly Belgian,1841,1841.000000,1841
3684,"Greek Islands, Patmos",1700,1749.500000,1799
3685,Ukrainian,1776,1787.500000,1799
3686,"German, Westphalia",1700,1707.500000,1715
3687,"British, probably Birmingham",1825,1825.000000,1825
3688,"China (Guangzhou), for the European or America...",1750,1775.000000,1800
3689,"China for Parsi market, Bombay",1800,1849.500000,1899
3690,China for export,1800,1849.500000,1899
3691,"China, for the European market",1751,1775.000000,1799
3692,"probably Southern German, Augsburg",1585,1592.000000,1599
3693,"possibly Italian, Ferrara",1440,1452.000000,1464
3694,"probably Italian, Florence",1400,1495.750000,1599
3695,"Hungarian, Kremnica",1530,1564.500000,1599
3696,"Italian, possibly Ferrara",1550,1555.000000,1560
3697,"French, Savoy",1600,1649.500000,1699
3698,"Italian, Roman",1481,1481.000000,1481
3699,Swiss and French,1800,1849.500000,1899

In [84]:
client.query("""
SELECT culture, MIN(object_begin_date) AS Earliest, AVG((object_begin_date+object_end_date)/2) AS Average, MAX(object_end_date) AS Latest FROM `bigquery-public-data.the_met.objects`
GROUP BY culture
HAVING MAX(object_end_date)<0
""").to_dataframe()

,culture,f0_,f1_,f2_
0,Northwest China,-1300,-345.102273,-1
1,"Volga region, Russia",-799,-699.500000,-600
2,Early Bronze Age,-1750,-1625.000000,-1500
3,Halstatt,-900,-758.333333,-500
4,Bronze Age,-1200,-1025.000000,-800
5,Late Halstatt Period,-599,-549.500000,-500
6,Halstatt Period,-699,-649.500000,-600
7,Late Bronze Age,-1200,-1000.000000,-800
8,European Bronze Age,-1300,-979.041667,-700
9,Celto-Iberian,-499,-449.500000,-400
10,Vietnamese,-499,-299.500000,-100
11,Subeixi or Scythian,-799,-499.500000,-200
12,Greek or Egyptian,-599,-349.500000,-100
13,"Minoan, Crete",-2000,-1707.102273,-1375
14,"Greek, Tarentine",-400,-250.800000,-2
15,"Greek, Laconian",-7000,-1444.816832,-30
16,"Greek, Rhodian",-699,-283.136364,-100
17,Phoenician,-699,-456.600000,-70
18,Achaemenid,-600,-474.953988,-200
19,Seleucid,-1000,-243.477778,-1
20,Scythian (?),-700,-525.000000,-400
21,Western Asia,-4000,-870.250000,-1
22,Xiongnu,-300,-187.500000,-100
23,Scytho-Sarmatian,-500,-333.333333,-200
24,Anatolia,-2000,-1350.000000,-700
25,Achaemenid or Seleucid,-599,-324.900000,-100
26,"Early or middle Roman Republican, probably Etr...",-400,-350.000000,-300
27,Valdivia,-3000,-2334.113636,-1
28,Calima (Ilama),-500,-250.500000,-1
29,Tembladera,-900,-643.750000,-400
...,...,...,...,...
322,"Greek, Asia Minor, Smyrna",-199,-90.000000,-1
323,"Greek, Pontic",-299,-249.500000,-200
324,"Greek, Rhodian ?",-630,-449.833333,-200
325,"Greek, possibly Attic",-399,-301.000000,-200
326,"Greek, possibly Corinthian",-330,-315.000000,-300
327,"Greek, Asia Minor, Myrina (?)",-199,-100.000000,-1
328,"Greek, Attic (?)",-325,-262.500000,-200
329,"Greek, Boeotian or Attic",-399,-349.500000,-300
330,Ocucaje,-200,-100.500000,-1
331,ETRUSCAN,-699,-599.500000,-500
332,Etrusco-Phoenician,-699,-649.500000,-600
333,"East Greek, perhaps Rhodian",-699,-599.500000,-500
334,"Greek, South Italian, probably Apulian",-399,-349.500000,-300
335,Cypriot or Greek,-799,-599.500000,-300
336,"Greek, Spain ?",-499,-449.500000,-400
337,Greek?,-499,-349.500000,-200
338,"Apulian, possibly Tarentine",-299,-284.500000,-270
339,Possibly South Italian or Etruscan,-299,-284.500000,-270
340,"Greek, South Italian or Etruscan",-300,-250.000000,-200
341,Cypriot or Aegean,-1400,-1300.000000,-1200
342,Egyptian.,-1090,-995.000000,-900
343,Greek or Scythian,-340,-330.000000,-320
344,Northwest Anatolian,-2300,-2150.000000,-2000
345,Chavín,-875,-700.000000,-525
346,Cavernas,-500,-400.000000,-300
347,Paracas (?),-500,-275.000000,-100
348,Cupisnique (?),-1200,-800.000000,-400
349,Central Highlands (?),-1200,-850.000000,-325
350,Veracruz (?),-900,-500.000000,-100
351,Tlatilco (?),-1200,-1000.000000,-800

Теперь воспользуемся регулярными выражениями и попробуем найти все экспонаты у которых отображены все 3 размера в сантиметрах, а затем нйдём самые большой и маленький из этих объектов.

In [115]:
df = client.query("""
SELECT dimensions FROM `bigquery-public-data.the_met.objects`
WHERE dimensions IS NOT NULL
""").to_dataframe()

In [131]:
list_of_dims = df["dimensions"]
list_of_3dim = []
for dim in list_of_dims:
    dim =  re.findall("(?:\d+(?:\.\d*)?|\.\d+) × (?:\d+(?:\.\d*)?|\.\d+) × (?:\d+(?:\.\d*)?|\.\d+)", dim)
    if len(dim)>0 :
        list_of_3dim.extend(dim)

In [145]:
list_of_volumes = []
for dim3 in list_of_3dim:
    d = dim3.split(' × ')
    d = [float(i) for i in d]
    list_of_volumes.append(prod(d))
print(" max - ",  max(list_of_volumes), "cm^3\n","min - ",  
min(list_of_volumes), "cm^3")

 max -  193186515.83999997 cm^3
 min -  0.06 cm^3